.form-group {
  margin-bottom: 0 !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-position: 99% 50% !important;
  border-color: var(--softError) !important;
  background-image: none;
}

.invalid-feedback {
  color: var(--softError) !important;
  position: absolute;
  top: 0;
}
