/* .bg {
  background: url('../../assets/images/bg.jpg') no-repeat center center ;
  background-size: cover;
} */

/* .bg-inquiry {
  background: url('../../assets/images/inquiry-bg.jpg') no-repeat center center ;
  background-size: cover;
} */